@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #091057;
  --secondary-color: #024caa;
  --ternary-color: #ec8305;
  --quaternary-color: #dbd3d3;
}

body {
  @apply font-inter
  bg-[--quaternary-color];
}

h1 {
  @apply text-4xl
    antialiased
    font-medium
    tracking-tight;
}

h2 {
  @apply text-2xl
  mt-2
    antialiased 
    font-normal
    tracking-tight;
}

a {
  @apply cursor-pointer
    font-medium
    text-base
    hover:text-[--ternary-color];
}

p {
  @apply font-normal
    mt-2
    text-base;
}

/*300x300*/
img {
  @apply w-full
    mr-0
    mb-4
    border-2
    border-[--secondary-color]
    rounded-xl
    md:w-auto 
    md:mr-4 
    md:mb-0;
}

section {
  @apply p-4;
}

button {
  @apply flex
    items-center
    text-center
    border-none 
    shadow-sm 
    bg-[--secondary-color] 
    text-white 
    rounded-xl
    pt-2
    pb-2
    ps-4
    pe-4 
    mr-4
    hover:bg-[--primary-color] 
    font-normal
    text-base
    tracking-tight;
}

code {
  @apply
  bg-[#eee]
  rounded-lg
  p-2
}

.container-inline {
  @apply flex
  flex-wrap
  items-start
  justify-evenly
  p-4
  md:items-center
  md:flex-nowrap;
}

.container-button {
  @apply flex
  justify-end;
}

.article-container {
  @apply m-4
}


